@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
   font-family: 'Quicksand';
   src: url('./font/Quicksand-VariableFont_wght.ttf');
}
body {
   font-family: Quicksand;
   font-weight: 500;
   height:100%;
   color: #6f6f6f;
}